<!doctype html>
{# index.html/htmltag #}
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title></title>
	<meta name="description" content="">
	<meta name="author" content="">

	<meta name="viewport" content="width=device-width,initial-scale=1">
{# index.html/head/favicon #}

{# index.html/head/stylesheet #}

{# index.html/head/html5polyfill #}
{# index.html/head/respond #}
</head>
<body>
{# index.html/body/content #}
{# index.html/body/jslib #}
{# index.html/body/myjs #}
{# index.html/body/end #}
{# index.html/body/end5 #}
</body>
</html>
